html {
    
        background-image: url(../images/background.jpg);

		
		
		
		
}
body {

  font-family: 'Lato', sans-serif;
  color: black; 
  
  
  border-radius: 5px; 
  text-decoration: none;

  margin : auto;
  opacity: 1;
  transition: 1s opacity;
  text-decoration: none;
}


body.fade-out {
    opacity: 0;
    transition: none;
}

body {
  opacity: 1;
  transition: 5s opacity;
}

body.fade {
    opacity: 0;
    transition: none;
}
Origin {
    width: 80pt;
}

footer {
  color: white;
    text-align: center;
   
}

a:visited {
    color: black;
}

iframe {
    border: 5px solid black;
}

.youtube-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#back {
  text-align: center;
}

.container {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 60vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.one {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  min-width: 40px;
}
.two {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  min-width: 40px;
}
.three {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  min-width: 40px;
}
.four {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  min-width: 40px;
}
.five {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  min-width: 40px;
}
.six {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  height: 40px;
  min-width: 40px;
}